---
import "@src/styles/global.css";
import { site } from "@src/config";

const { page, post } = Astro.props as {
  page: Page;
  post: Post;
};

const title = page
  ? page.url.current === ""
    ? site.title
    : `${page.url.current} - ${site.title}`
  : `${post.frontmatter.title ?? post.frontmatter.path} - ${site.title}`;
const description = page ? site.description : post.frontmatter.summary;
const permalink = site.url + (page ? page.url.current : post.frontmatter.path);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="generator" content="gh:importantimport/gumori" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="sitemap" type="application/xml" href="/sitemap.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={page ? "website" : "article"} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Photo -->
{
  post?.frontmatter?.image && (
    <>
      <meta property="og:image" content={post.frontmatter.image} />
      <meta property="twitter:card" content="summary_large_image" />
    </>
  )
}

<!-- Stylesheets -->
{site.stylesheets?.map((href) => <link rel="stylesheet" href={href} />)}
<!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
<link
  rel="stylesheet"
  href="https://unpkg.com/sakura.css/css/sakura-dark.css"
  media="screen and (prefers-color-scheme: dark)"
/> -->

<!-- Scripts -->
{site.scripts?.map(({ src, type, async, defer }) => <script src={src} type={type} async={async} defer={defer} />)}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132776712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-132776712-1");
</script>
